#!/usr/bin/env nodejs
var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello Welcome to QT,This is vijaybhaskar\n');
}).listen(8080, '{{ ansible_default_ipv4.address }}');
console.log('Server running at http://{{ ansible_default_ipv4.address }}:8080/');
